@import "../theme/styles/variables";
@import "../theme/styles/mixins";

body::before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //@include theme-bg($body-bg-gradient-color-1, $body-bg-gradient-color-2);
    background: $body-bg-color; // #5b6e8a;
    z-index: -1;
}

.main-wrapper{
    margin-left: $sidebar-width;
    padding: 30px 40px 60px;
    margin-top: $navbar-height;
    position: relative;
    flex: 1;
    overflow: hidden;
    &.menu-collapsed{
        margin-left: 50px;
    }
}

ag-grid-angular.ag-fresh{
    height: 700px !important;
}
// ag-grid-angular > div > div.ag-fresh {
//     height: initial !important;
// }
.main{
    height: 100%;
    min-height: calc(100vh - 202px);
}

.pace .pace-progress {
    z-index: 3;
}

.footer{
    padding-top: 20px;
    padding-bottom: 10px;
    .footer-main{
        display: inline-block;
        .copyright{
            color: $text-color;
            font-size: 14px;
            a{
                color: $main-color;
            }
        }
        .share{
            padding-left: 5px;
            margin: 0;
            li{
                list-style: none;
                float: left;
                margin-left: 10px;
                i{
                    cursor: pointer;
                    transition: all 0.1s ease;
                    color: white;
                    padding: 9px 9px 6px 9px;
                    font-size: 12px;
                    border-radius: 50%;
                    background-color: $main-color;
                    &.socicon-facebook{
                        background-color: $facebook-color;
                    }
                    &.socicon-twitter{
                        background-color: $twitter-color;
                    }
                    &.socicon-instagram{
                        background-color: $instagram-color;
                    }
                    &.socicon-pinterest{
                        background-color: $pinterest-color;
                    }
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }
    }
    .created{
        color: $text-color;
        font-size: 14px;
        i{
            color: red;
        }
    }
}

.az-overlay{
    position: fixed;
    top:0;left:0;bottom: 0; right: 0;
    z-index: 8;
    background: rgba($main-color, 0.2);
    width: 100%;
    height: 100%;
    display: none;
}


@media (max-width: 544px) {
    .main-wrapper, .main-wrapper.menu-collapsed{
        margin-left: 0;
        padding: 30px 20px 70px;
    }
    .main{
        min-height: calc(100vh - 240px);
    }
    .az-overlay{
        display: block;
    }
    .footer .footer-main, .footer .created{
        float: none;
    }
}

@media (min-width: 544px) and (max-width: 768px) {
    .main-wrapper, .main-wrapper.menu-collapsed{
       margin-left: 50px;
    }
    .az-overlay{
        display: block;
    }
}

/// agGrid pagination panel
@media only screen and (max-width: 1440px) and (min-width: 1280px) {
	.associationsGridOuter .ag-fresh .ag-paging-row-summary-panel,.questionGridOuter .ag-fresh .ag-paging-row-summary-panel {
		display: inline-block;
		width: 100px;
	}
}

//az-grid-typeahead { width:100%;}

.ag-fresh .ag-cell{
    display : flex;
    align-items : center;
}

.ag-fresh .ag-cell a{
    text-decoration: none;
}

.ag-fresh .ag-cell a:hover {
    text-decoration: underline !important;
}

.ag-fresh .ag-row-hover{

    background-color:#b8e2fc;
}

// .ag-fresh .ag-cell input{
//     height:100%;
//     width:100%
// }



.ag-fresh .ag-root{
    margin-top:4px;
}
/*AG Grid Custom CSS*/

//Header
.ag-fresh .ag-header-container {
  background: #9C9DA0 !important;
}

.ag-scrolls .ag-header-row{
    height: 100% !important;
    background: #242D3A !important;
}
//Sort Arrow
.ag-fresh .ag-header-icon {
    color: white;
    fill: white;
}

//Sort buttons, GridSettings buttons
.ag-paging-button,.btn-gridButtons {
    //This code was pulled from the btn class
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
    //Custom
    background: #01A282;
    border-color: none;
    color: #fff;
    height: 25px;
    padding-top: 2px;
}

.btn-gridButtons{
    margin-top: 3px;
}
.reset-grid:hover, .save-grid:hover, .export-grid:hover, .btn-gridButtons:hover {
    background: rgba(217, 223, 231, 0.8);
}

.reset-grid:active, .save-grid:active, .export-grid:active, .btn-gridButtons:active {
    background: rgba(36, 45, 58, 0.8);
}

.reset-grid, .save-grid, .export-grid{
    background-color: #fff;
    color: black;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    line-height: inherit;
    border:none;

}

.btn-main{
    line-height: 1.25;
    font-weight: normal;
    background: #01A282;
    font-size: 0.9rem;
    height: 25px;
    float:right;
    margin-left: 4px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 23px;
}
/*END: AG Grid Custom CSS*/
/*Modal CSS*/
.modal-content {
    width: 100%;
    right:0;
}

.modal-dialog-small{
    margin:unset;
    top:50%;
    left:50%;
    margin-left:-250px;
    margin-top:-112px;
}

.modal-content-small{
    // height:224px;
    // width:500px;
    width:100%;
    right:0;
}

.tab-content {
  z-index: auto;
}

button.close {
  color:white;
}

.modal-header {
  background-color: #242D3A;
  height: 35px;
}
.modal-title {
  color: white;
}

.btn-modal {
  background-color: #242D3A;
  color: white;
  margin-right: 10px;
}

.btn-modal:hover {
  background-color: #01A282;
}
/*END: Modal CSS*/

/* AG-Grid*/
.grid-stretched-70-500 {
  width: 70%;
  min-height: 200px;
  max-height: 500px;
  border: 1px;
  border-style: solid;
  border-color: grey;
}

.grid-stretched-100-1000 {
  width: 100%;
  min-height: 200px;
  max-height: 1000px;
  border: 1px;
  border-style: solid;
  border-color: grey;
}

.btn-edit-grid {
  margin-left: -10px;
  margin-top: -10px;
}

.modal-header {
    color: white;
    font-weight: 400;
}
/* End: AG-Grid*/

.purchaePartsButton{
    float:right;
    position: absolute;
    right: 0;
}

.row-form {
    margin-left: 10px;
}

/* Ag-grid Search button */
.btn-search {
  background-color: #01A282;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 500;
  margin: 4px;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 0px;
}

.btn-search-small {
	height: 30px;
	width:30px;
	border:none;
    background-color: #01A282;
    border-color: #01A282;
    border-radius: 2px;
  //  margin-right : 25px;
    color:white;
    cursor: pointer;
  }

  .quotePartsButton{
    float:right;
    position: absolute;
    right: 0;
    // margin-top: -2% !important;
    // margin-right:1%;
}

  .ag-bl-full-height{
      overflow:visible;
  }

  .btn-details btn-affirm {
    background-color: #01A282;
    border: none;
    color: white;
    cursor: pointer;
    //border-radius: 2px;
    font-weight: 400;
    margin: 4px;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 30px;
    font-size:0.9rem;
    font-family: 'Roboto', sans-serif;
  }

  .searchBox{
    width: 150px;
    height: 30px;
    margin-right: 3px;
}

.searchBoxAlignment{
    position: inherit;
}

.searchBoxAccounts{
    width: 140px;
    height: 30px;
}

.contantGrid{
    margin-top: -36px;
}
/* END: Ag-grid Search button */

.red-icon {
    color:red;
}

.green-icon {
    color:green;
}

.black-icon {
    color:black;
}

.icon-fade {
    opacity: 0.5;
}

.required {
    background-color: #ff7575;
}

.highlight {
    background-color: yellow;
}
.row-inner-grid{
    margin:10px;
    background-color: grey;
}

/*Availability component */

.qty-input
{
    width:100px;
    margin-right:10px;
    display: inline-block;
}

.errorMessage{
    color:red;
}

.modal-body{
    text-align: center;
}
/*End of Availability component */

/* Inspection page */

.center-content
{
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-number-input
{
    line-height: 40px;
    width: 75px;
    text-align: center;
}

.delete-carasoule-image {
  position: absolute;
  bottom: 0;
  margin: 0;
  right:37%;
  width: 120px;
  cursor: pointer;
}
/* End of Inspection page */

$prview-select-indicator: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") !default;

editor-cell, role-editor-cell {
	height: inherit !important;
	select{
		padding: 0 !important;
		margin: 0 !important;
		height: inherit !important;
	}
}

div.preview-header-display{
    background: white $prview-select-indicator no-repeat right .75rem center;
	padding: 0 !important;
	margin: 0 !important;
	height: inherit !important;
}

.completer-dropdown{
    width:auto;
}


/* Button Print Checkbox */

    //Checked background = color style (green)
    .btn-checked {
        background-color: #01A282;
    }

    //Checked/Unchecked button
    .btn-checked , .btn-unchecked {
        color: white;
        border-radius: 5px;
        min-width: 25px;
        min-height: 25px;
    }
    //Hide Check and X hover buttons initially
    .btn > .fa-check, .btn > .fas fa-times {
        display: none;
        color: white;
        position: absolute;
        top: 15%;
        left: 23%;
    }

    .btn-unchecked:hover .fa-check{
        margin-left: -4px;
    }

    //Show initial checked/unchecked icons
    .btn-checked:hover .fa-times        /* Show X toggle icon on checked button hover */
    , .btn-unchecked:hover .fa-check{   /* Show Check toggle icon on unchcked button hover */
            display: initial;
        }
    
    //Hide initial checked/unchecked icons
    .btn-unchecked:hover .fa-print  /* hide print icon on unchecked button hover */
    , .btn-checked .fa-times        /* Hide X toggle icon on checked button (not hover) */
    , .btn-checked:hover .fa-print  /* hide print icon on checked button hover */
    , .btn-unchecked .fa-times{     /* Hide X toggle icon on checked button (not hover) */
        display: none;
    }

/* END: Button Print Checkbox */

/* ag-grid export tool */
.ag-grid-sort {
    z-index: 1;
}
/* END: ag-grid export tool */


#partsGrid {
    margin-top: 2px;
}

ag-grid-angular{
    display: inline-block;
}

[ref~=btFirst]:before {
    content: "<<";
}

[ref~=btPrevious]:before {
    content: "<";
}

[ref~=btNext]:before {
    content: ">";
    float:right;

}

[ref~=btLast]:before {
    content: ">>";
    float:right;
}

.extraItems{
    visibility: hidden;
}

.dropLeft {
    margin-left:-140%;
}

#centerRow{
    height: 100%;
}

.dropup{
    margin-right:0.5%;
}

.readonlyLabel{
    font-weight: normal !important;
}

.btn-link{
    font-size: 11px !important;
}

.dropup .reset-grid, .save-grid, .export-grid{
    background-color: #fff;
    color: black;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    line-height: inherit;
    padding: 0.25rem 1.5rem;
   // border: none;
}

.refreshGrid{
    background-color:#9C9DA0 !important;
    margin-right:3px;
}

.menuBtn{
    background-color:#9C9DA0 !important;
}

.titleId {
    text-align: left;
    margin-left: -2%;
    margin-top: -1%;
}

.parentMargin{
    margin-left: -1.5%;
}

//detailParent Custom CSS

.detailParent label{
	color:#3c3d3d;
	font-weight: bold;
    text-align: left !important;
    word-wrap: normal;
}

.form-control[disabled]{
	background-color: transparent;
	border:none;
	color:inherit;
}

li.media .media-body .media-heading h5 {
    font-size: 0.6vw !important;
 //   font-weight: 400;
    margin-top: 8px;
}

.detailParent input,select,option,p,div,h5{
	font-size: 11px;
}

.detailParent{
    padding-left: 15px;
    padding-right: 15px;
}

.detailParent label{
	color:#3c3d3d;
    font-weight: bold;
}

.bottom-30{
	padding-left: 15px;
}

.img.media-object {
    width: 2vw;
}

.completer-holder input{
	border-width: thin;
	border: 1px solid #ced4da;
	background-color: white;
}

.completer-holder{
	height: calc(2.2rem - 5px) !important;
	background-color: white;
}

.card .card-outline-default{
	height:100%;
}

.detailParent .form-group{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	margin-bottom:3px;
}
.detailParent {
  .accountTypes {
    height: auto;
  }
  .ownership-section {
    cursor: pointer;
    height: auto;
  }
}

.detailCard{
    background:#fbfbfb !important;
    border:1px solid #fff;
    color:black !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    font-size: 12px;
}

.checkboxAlign{
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-self: center;
}

.card, .ag-root{
    overflow: visible !important;
}

.pull-right{
    float:right;
}

.pull-left{
    float:left;
}

.ag-fresh {    
    .ag-header-row {
        height: 25px !important;
    }

    .ag-header-cell.grid-header {
        color: white;
        font-weight: 400;
    }

    .ag-header-cell-resize {
        color:grey;
    }

    .ag-paging-button {
        background-color: #9C9DA0;
        height:25px;
        font-size: 12px;
        margin-top:3.5px;
        color:white;

        &:hover {
            background: rgba(217, 223, 231, 0.8);
        }

        &:active {
            background: rgba(36, 45, 58, 0.8);
        }
    }

    .ag-paging-panel {
        background-color: #9C9DA0;
        height: 35px;
    }

    .ag-paging-page-summary-panel {
        margin-left: 2%;
        background-color: #9C9DA0;
        font-size: 12px;
        color:white;
    }

    .ag-paging-row-summary-panel {
        float: right;
        color:white;
    }
}

.ag-theme-balham {
    .ag-cell {
        text-align: left;
    }
}

.top-header {
  background: #e9ebee;
  height: 90px;
  margin: 60px 0 0 -3px;
  padding-top: 30px;
  position: fixed;
  top: 0px;
  width: calc(100vw - 330px);
  z-index: 2;
}
.menu-collapsed .top-header {
    width: calc(100vw - 50px);
}

.scrolling-content {
  margin-top: 60px;
}

// .ag-body-viewport-wrapper,.ag-body-viewport {
//          overflow: visible !important;
//     }


// .card, .ag-pinned-left-cols-viewport, .ag-pinned-left-cols-viewport-wrapper {
//     overflow: visible !important;
// }

// .card .ag-pinned-right-cols-viewport, .ag-pinned-right-cols-viewport-wrapper {
//     overflow: hidden !important;
// }

///////

