
.carousel-image
{
    width: 468px;
    height: 350px;
}

.image-count
{
    margin-bottom: -5px;
    margin-top: 5px;
}
.img-upload-contaner > div > .file-upload > .clear.button{
    display: none !important;  //Hide clear button
}