.az-row {
	margin-bottom: 20px;
}
.az-row .az-row .az-col {
	margin: 0 auto;
}
.az-col [class*="col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	background-color: rgba(50, 70, 156, 0.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
	border-radius: 4px;
}

hr {
	margin-top: 40px;
	margin-bottom: 40px;
}

.dndPlaceholder{
	background-color: #ddd;
	display: block;
	min-height: 42px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid rgba(49, 95, 195, 0.2);
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}

.az-panel-default>.az-panel-heading {
	color: #000;
	background-color: rgba(169, 169, 169, 0.5);
	border-color: #ddd;
}

.az-panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.az-panel {
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.az-panel-body {
	padding: 15px;
}
