<div class="register-container">
    <div class="col-xl-4 col-md-6 col-10 offset-xl-4 offset-md-3 offset-1">
        <div class="card">
            <div class="card-block text-center">
                <h2 class="card-title">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    &nbsp;Not Authorized</h2>
                <p>You are not authorized to view this page!</p>
                <p>Please contact your administrator.</p>
                
            </div>
        </div>
    </div>
</div>
