@import "../../../theme/styles/variables";

li.media{
	margin-bottom: 5px;
	.media-left{
		padding-right: 10px;
		margin-left: 3px;
	}
	.media-right{
		padding-left: 10px;
	}
	.media-body{
		padding: 0 6px;
		position: relative;
		overflow: visible;
		.media-heading{
			padding: 0;
			overflow: hidden;
			h5{
				font-size: 0.6px;
			}
		}
		&.left{
			background: none;
		}  
	}           
}
img.media-object{
	width: 2vw;
}

.media-list{
	-webkit-padding-start: 0;
}
