<div widget class="card"  style="width: 100%; height: 100%;" [hidden]="!isPOLineClicked">
	<div class="card-header">
		<span>Matching Sales Order Lines for {{partNumber}}</span> 
  </div>
  <div class="orderLinesGridOuter">
    <ag-grid-angular 
      id="unallocatedLinesGrid" 
      #agGrid style="width: 100%;" 
      class="ag-fresh" 
      [gridOptions]="gridOptions"
      (rowClicked)="onCellClicked($event)">
    </ag-grid-angular>
    <div class="btn-group dropup quotePartsButton">
      <button class="refreshGrid" (click)="refreshGrid()"><i style="color:white;" class="fas fa-sync-alt"></i></button>
      <button class="menuBtn" data-toggle="dropdown"><i style="color:white;" class="fas fa-cog"></i></button>
      <ul class="dropdown-menu dropLeft">
        <li><button style="width:100%" class="export-grid dropdown-item" (click)="exportGrid_Click($event)">Export</button></li>
        <li><button style="width:100%" class="reset-grid dropdown-item" (click)="resetGridColumns_Click()">Reset Columns</button></li>
        <li><button style="width:100%" class="save-grid dropdown-item" (click)="saveGridState_Click($event)">Save Column</button></li>
      </ul>
    </div>
  </div>
</div>
