
.vendorTitle{
    color: #242D3A;
    float:left;
    border-bottom:1px solid;
}

.totalCostMargin {
    margin-top: 7px;    
    margin-bottom:-1rem;
    font-size: 13px;
}

.CreatePoBtn{
    margin-top: -5px !important;
    background-color: #01A282;
    color: white;
    cursor: pointer;
    font-weight: 400;
    margin: 4px;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    height: 25px;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    border:none;
}