<div class="container-fluid" style="width: 100%; height: 100%;">
	<div class="row" style="height:100%;">
		<div class="col-md-12">
		<div class="col-md-2 pull-left">
			<az-account-group-list
				(onNewGroupBtnClicked)="onNewGroupBtnClicked($event)"
				(onGroupRowClicked)="onGroupRowClicked($event)">
			</az-account-group-list>
		</div>
		<div class="col-md-10 pull-right" style="width:100%" [ngStyle]="{'display': (selectedAccountGroupId || selectedAccountGroupId == 0) ? 'block' : 'none'}">
			<form [readonlyField]="onReadonly" [objectPermissions]="groupDetailPermissions" (onFormStatusChange)="onFormStatusChange($event)" [hideMenu]="true">
				<div class="row form-group">
					<label class="col-sm-2 col-form-label" style="text-align:start">Group Name</label>
					<div class="col-sm-6 flex-span">
						<input
							type="text"
							data-field-name="Group Name"
							class="form-control" 
							name="groupName" 
							[(ngModel)]="groupName">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12" style="min-width: 320px;">
						<az-group-line
							[groupLinesData]="groupLinesData"
							[onReadonly]="onReadonly"
							(onSyncingGroupLines)="currentGroupLines = $event">
						</az-group-line>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
</div>
