.btn-location {
  background-color: #008CBA;
  border-color: #008CBA;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 500;
  margin: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.btn-dropdown-menu {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: 0px;
}

.dropdown-menu {
  background: white;
  white-space: nowrap;
  min-width: 100%;
  padding: 0 0 5px;
}

.dropdown-label {
  margin-left: 5px;
}

.dropdown-input {
  margin-bottom: 5px;
  margin-left:3px;
  margin-right: 3px;
  margin-top: 3px;
}

.modal-body:not(.two-col) {
  padding: 0px
}

.glyphicon {
  margin-right: 5px;
}

.glyphicon-new-window {
  margin-left: 5px;
}
.modal-body:not(.two-col) {
  padding: 0px
}

.glyphicon {
  margin-right: 5px;
}

.glyphicon-new-window {
  margin-left: 5px;
}

.table td {
  padding-bottom: 7px;
  padding-top: 7px;
}

.location-input {
  height: 30px;
  margin-bottom:10px;
}

#locationGrid{
  height:150px;
  width:100%;
  margin-top:2px;
  margin-left: 0px;
}

.card{
  width:100%;
}

.ag-fresh .ag-root {
  margin-top: 0px;
}

// .row{
//   margin-left:0px;
//   margin-top:2px;
// }

#centerRow{
  height:100%;
}

#locationHeight{
  height:30px;
  width:100%;
  margin-top:1px;

}