<ng-container>
	<div class="modal-dialog">
		<div class="modal-content" style="width: 500px; display: none;">
			<div class="modal-header">
				<div class="header-text">
					{{objectInfo}}
				</div>
			</div>
			<div class="modal-body">
				<li class="media" *ngIf="comment">
					<div class="media-left">
						<img class="media-object rounded-circle" src="../assets/img/profile/tereza.jpg" alt="author image">
					</div>
					<div class="media-body rounded left">
						<div class="media-heading" style="display: flex; flex-flow: row; align-items: center;">
							<h5 class="d-inline text-capitalize pull-left" style="font-size: 14px; margin: 0">{{comment?.authorName}}</h5>
							<p class="d-inline text-capitalize pull-left" style="margin: 0;">&ensp;- {{comment.typeName}} -&ensp;</p>
							<p class="d-inline pull-left" style="margin: 0;"><i class="far fa-clock"></i>&ensp;{{comment?.created | date:"dd MMMM, yyyy 'at' HH:mm a"}}</p>
						</div>
						<p style="text-align: start; margin-top: 0;">{{comment?.comment}}</p>
					</div>
				</li>
			</div>
		</div>
	</div>
</ng-container>
