@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
.ag-fresh {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.ag-fresh .ag-root {
  border: none;
}
.ag-fresh .ag-header-container {
  background: #fff;
}
.ag-fresh .ag-header { 
 // border-bottom: 2px solid #000;
  
}
.ag-fresh .ag-header-row {
  font-weight: bold;
  border: none;
  background-color:#242D3A !important;
  color: white !important;
}
.ag-fresh .ag-ltr .ag-header-cell {
  // padding: 10px;
  border: none
}
.ag-fresh .ag-row {
  border-bottom: 1px solid #ddd;
}

.ag-fresh .ag-row:nth-child(odd){ 
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
}

.ag-fresh .ag-row:last-child {
  border-bottom: none;
}
.ag-fresh .ag-row:hover {
  background-color: #d9edf7;
  border-top: 1px solid #aaa;  
  border-color: #aaa;
}
.ag-fresh .ag-row .ag-cell {
  color: #333;
  // padding: 10px 15px;
}
//.ag-fresh .ag-row .ag-cell:focus,
// .ag-fresh .ag-row .ag-cell:hover {
//   font-weight: bold;
//   background-color: #d0edf3 ;
//   color:#000;
// }

// .ag-row-odd
// {
//   line-height: 30px;
// }

.red{
  color:red;
}

.btn-inactivate{
  cursor: pointer;
  font-size: 1.5em;
}

.role-list-control-bar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.btnNewRole {
  background-color: #01A282;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 500;
  margin: 4px;
  margin-left: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 30px;
}
