.dropdown-item {
    background-color: white !important;
    color:black;
    font-size: 14px;
    cursor: pointer;
}

.subclass{
    margin-left: 0% !important;
    margin-top: 7.6px;
}

.addDeletebtn{
    float:right;
    margin-left: 4px;
}

.ag-bl-full-height{
    overflow : visible !important;
    height: 100%;
    position:relative;
}

.ag-group-value{
    visibility: hidden;
    display: none;
}
.ag-theme-balham .ag-ltr .ag-row-group-leaf-indent{
    display:none !important;
}

.isAlternate{
    background-color: rgb(214, 241, 248) !important;
}

 .comment-col-div{
    color: white;
    width: 100%;
    height: 100%;
    line-height: 27px;
    cursor: pointer;
    background-color:#01A282;
 }

 .part-hover-link {
    color: #0874B7 !important;
 }

 .part-hover-link:hover {
    cursor: pointer;
    text-decoration: underline !important;
 }

 .routed-to-wrap{
	width: 200px;
	height: 100%;
	display: inline-flex;
	align-items: center;
    justify-content: start;
    line-height: 27px;
    color: white;
    .icon-wrapper-route{
        width: 34px;
        height: 27px;
        margin-right: 3px;
        display: flex;
        align-items: center
    }
    span{
        color: #000;
    }
}

.cross-row-quote-source{
    color: #AFA9BD;
}

.checkmark-row-quote-source{
    background-color: #FFFDA0 !important;
    div, a, span:not(.cell-btn-text){
        font-weight: 900 !important;
    }
}

.leadtime-editor-wrapper{
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.source-match-cell{
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        color: white;
        width: 60px;
        height: 28px;
        span{
            height: 24px;
        }
    }
    .source-match-unknown{
        background-color: grey;
    }
    .source-is-match{
        background-color: #01A282;
    }
    .source-not-match{
        background-color: #990000;
    }
}
.ui-icon-gripsmall-diagonal-se{
    visibility: hidden !important;
}

#centerRow{
    height:100% !important;
}

.ag-bl-full-height{
    overflow:visible;
}

