.inWidget{
    margin-bottom: 40px;
}

.uploadPictures, .conclusionGrid, .breakdownGrid{
    height: 100%;
}

.qc-dropdown {
    background-color: white;
}
.qc-dropdown a:hover {
    cursor: pointer;
}
.qc-print-container {
    padding-left: 0px;
    width: 150px;
}