.checkbox-label-wrapper{
  width: 150px;
}

.form-section-description-wrapper{
  margin-bottom: 20px;
}

.form-section-description{
  margin-bottom: 10px;
  margin-top: 20px;
}

.file-upload-buttons{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-content: center;

	.btn-bom-cancel, .btn-bom-save{
		width: 150px;
		background-color: #008CBA;
		border-color: #008CBA;
		color: white;
		cursor: pointer;
		border-radius: 2px;
		font-weight: 500;
		margin: 0 10px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}