#routeOptions > .input-group > .btn-group > .notActive{
    border-color: #01A282;
    background-color: #fff;
    color: #01A282;
}

#routeOptions > .input-group > .btn-group > .active {
    background-color: #01A282;
    border-color: #01A282;
    color: #fff;
}

#routeOptions > .input-group > .btn-group {
    margin-left: 31%;
    margin-bottom: 15px;
}
.user-container {
    max-height: 300px;
    overflow: auto;
}

.list-group-item {
    cursor: pointer;
    padding:6px 20px 8px 20px;
}
.custom-control{
    min-height: 0;
    padding: 0;
    margin: 0;
}
.errorText {
    color:red;
}