#mdlAccountGroup{
    width: 100% !important;
    margin: 1.75rem auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

// //Grid becomes hidden when filter is toggled, so this prevents that
// .ag-body-container {
//     position: initial
// }