<div class="form-group">
    <div class="input-group file-upload">
        <input type="file" (change)="fileChange(input)" #input class="file-upload-btn"/>
        <input type="text" class="form-control" placeholder="Choose a file..." value="{{file}}">
        <i class="fas fa-times delete-file" (click)="removeFile()" *ngIf="file"></i>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><i class="fas fa-upload"></i></button>
        </span>
    </div>
</div>
