<div widget class="card">
  <div class="card-header">
      <span>Create A New User</span>
      <div class="widget-controls">              
          <a data-widgster="expand" class="transition"><i class="fas fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fas fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fas fa-expand-arrows-alt"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fas fa-compress"></i></a>                          
      </div>        
  </div>
  <div class="card-block widget-body">
      <az-user-detail-form>
      </az-user-detail-form>         
  </div>
</div>

<simple-notifications [options]="notifyOptions"></simple-notifications>