.rfq-buttons > button {
    width: 125px;
}

.btn-response {
    width: 95%;
}

.part-hover-link {
    color: #0874B7 !important;
    text-decoration: underline !important;

 }

 .dropLeft {
    margin-left:-140%;
}
