.comment-col-div{
	color: white;
	width: 100%;
	height: 100%;
	line-height: 27px;
	cursor: pointer;
	background-color:#01A282;
}

.response-buttons > button {
	width: 145px;
}

// .quotePartsButton{
// 	float: right !important;
//     position: relative !important;
//     right: 0 !important;
//     margin-top: -2% !important;
// }

.rfqsPartsButton{
	margin-right: 0.5% !important;
	margin-top: -2% !important;
	float: right !important;
}

