
<div widget class="card clWidget" *ngIf="childComValue">
    <div class="card-header">
      <span>Inventory</span>
      <div class="widget-controls">
        <a data-widgster="expand" class="transition"><i class="fas fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fas fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fas fa-expand-arrows-alt"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fas fa-compress"></i></a>
      </div>
    </div>
    <div class="card-block widget-body">
        <div class="container-fluid">
        <ag-grid-angular id="inventoryGrid" #agGrid style="width: 100%; height: 500px;" class="ag-fresh" 
          [gridOptions]="gridOptions">
      </ag-grid-angular> 
      </div> 
      <br>
    </div>
  </div>
