.header-text{
    color: white;
}

.completer-input{
	width: 100%;
}
.typeDropdown{
    width : 75px;
}

.source-new-modal{
    width: 150%;
    left: -25%;
}
.req-source-label{
    font-weight: 700;
}

.Account-Typeheader, .Item-Typeheader{
	width: 100%;
}
.completer-dropdown{
	padding-top: 2px;
	width:auto;
	span{
		white-space: normal;
	}
}
