.nav-part-number-wrapper{
	display: flex;
	height: 38px;
	align-items: center;
	font-size: 20px;
	padding-left: 5px;
}

.dropup{
	float:right;
	margin-right: -19%;
}

.avail-ddl .dropdown-item{
	margin-right:-140%;
}

