<div id="sendQuote" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 150%; right: 25%;">
        <div class="modal-header">
          <div class="header-text">
            Send Email
          </div>
        </div>
        <div class="modal-body">
        
            <div class="form-group row text-left" [ngClass]="{'has-danger': !subject}">
                <label class="col-sm-3 col-form-label">Subject:</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="subject" class="form-control" />
                </div>
            </div>
        
            <div class="form-group row text-left" [ngClass]="{'has-danger': !recipient}">
                <label class="col-sm-3 col-form-label">Recipient:</label>
                <div class="col-sm-9">
                    <input type="email" [(ngModel)]="recipient" class="form-control" />
                </div>
            </div>

            <div class="form-group row text-left">
                <label class="col-sm-3 col-form-label">CC:</label>
                <div class="col-sm-9">
                    <input class="form-control input-lg" type="text" [(ngModel)]="ccList" name="ccList"/>
                </div>
            </div>

            <div class="form-group row text-left">
                <label class="col-sm-3 col-form-label">BCC:</label>
                <div class="col-sm-9">
                    <input class="form-control input-lg" type="text" [(ngModel)]="bCcArr" name="ccList"/>
                </div>
            </div>

            <div class="form-group row text-left">
                <label class="col-sm-3 col-form-label">Attachments:</label>
                <div class="col-sm-9">
                    <label class="col-form-label" ><i class="fas fa-paperclip" aria-hidden="true"></i>
                        &nbsp;QuoteDetails_{{quoteHeader? quoteHeader.quoteId : ''}}_{{quoteHeader? quoteHeader.versionId : ''}}.pdf
                    </label>
                </div>
            </div>

            <div class="form-group row text-left" [ngClass]="{'has-danger': !message}">
                <label class="col-sm-3 col-form-label">Message:</label>
                <div class="col-sm-9">
                    <textarea [(ngModel)]="message" cols="40" rows="10" maxlength="512" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button [disabled]="(!subject || !recipient || !message)" class="btn btn-main" (click)="sendEmail()">Send</button>
                <button class="btn btn-main" data-dismiss="modal">Cancel</button>    
            </div>
        </div>
      </div>
    </div>
  </div>