#sendQuote .modal-content {
    width: 120% !important;
    right: 10% !important;
}

.tags-input .label{
    background-color: #01A282;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
}